@model AdmissionManagementSystem.Models.ViewModels.DashboardViewModel
@{
    ViewBag.Title = "Index";
}
<style>
    .navbar {
        margin-bottom: 0;
    }

    .container {
        min-width: 100% !important;
    }

    body {
        background-color: #eae8e8;
    }


    @@media (min-width: 992px) {
        /* Desktop*/
        .box {
            width: 24.5%;
        }
    }

    @@media (max-width: 768px) {
        /* Tab */
        .box {
            width: 100%;
        }
    }

    @@media (min-width: 768px) and (max-width: 991px) {
        /* Mobile*/
        .box {
            width: 48%;
        }
    }

    .box {
        clear: right;
        float: left;
        margin: 3px;
        color: #fff;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .box:hover{
       box-shadow: inset 0px 0px 20px 14px rgba(0,0,0,0.2);
        
    }
        .box h4 {
            padding-left: 5px;
        }

        .box button {
            border-radius: unset;
            background-color: #000;
            border: none;
        }

    .top-bg {
        background-color: #6e0672;
        height: 50px;
        padding-top: 5px;
    }
    .vtab {clear:both;margin-bottom:20px
    }
</style>
<link rel="stylesheet" href="@Url.Content("~/Content/datepicker.min.css")" />
<script src="@Url.Content("~/Scripts/bootstrap-datepicker.min.js")"></script>
<div class="dashboard">
    <div class="top">
        @foreach (var box in Model.NameCountList)
        {
            <div class="box top-bg">
                <h4>@box.Name-@box.Count</h4>
            </div>
        }

    </div>
    <div class="vtab"></div>
    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-md-1 control-label" style="text-align:left;padding-right:0" for="Course_Id">Subject</label>
            <div class="col-md-3">
                @Html.DropDownList("Courses", new MultiSelectList(Model.Courses, "Value", "Text"), new { @class = "form-control" })
            </div>
        </div>

        <div id="BatchBox">
            <script type="text/x-handlebars-template" id="Batchtemplate">
                {{#each Batches}}
                <div class="box" style="background-color:#0094ff" id="Batch{{@@key}}">
                    <h1 class="text-center">{{Count}}</h1>
                    <p class="text-center">Students</p>
                    <h4>{{Name}}</h4>
                    <button class="btn btn-gray" style="width:100%" onclick="ShowStudents({{BatchId}},'{{NavigationUrl}}');">View Details</button>
                </div>
                {{/each}}
            </script>


        </div>

    </div>
    <div class="vtab"></div>
    <div>Graph</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js" type="text/javascript"></script>

<script src="~/Scripts/Dashboard.js"></script>
